@font-face {
    font-family: "Chewy";
    src: url("Chewy.ttf");
    }

body {
    font-size: 16px;
    font-family: "Century Gothic", Sans-serif !important;
}


html {
    font-size: 62.5%;
}

/* NAV */


#header {
    position: relative;
}

.donate-btn {
    border-radius: 0;
    border-color:#ff671f;
    padding: .7rem 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    color:#fff;
    text-transform: uppercase;
    background: #ff671f;
}

.donate-btn:hover {
    border-radius: 0;
    border-color:#EE3123;
    padding: .7rem 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    color:#fff;
    text-transform: uppercase;
    background: #EE3123;
}


a{
    text-decoration: none !important;
}
/* SLIDER */
.slider {
    /* margin-top: 82.09px; */
    max-width: 100%;
    height: 544px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../images/banner_4.jpg");
}




.slider .summary {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 50px 0;
    position: absolute;
    background: rgba(18, 58, 84, 0.47) url('../images/404-transbg.png') repeat;
}

.banner-intro {
    margin-top: 1em;
    vertical-align: middle;
    text-align: center
}

.banner-intro .title {
    font-family: 'Roboto';
    font-weight: 700;
}



.banner-intro .body {
    font-family: 'Roboto';
    font-weight: 700;
    align-content: center;
    justify-content: center;
}

.banner-intro button {
    border-radius: 0;
    border: .2rem solid #f2b803;
    padding: .7rem 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.slider .display-table {
    height: 100%;
    display: table;
    width: 100%;
}

.slider .vertical-align {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.slider .banner-intro {
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.slider h2 {
    font-family: "Helvetica", "montserratsemi_bold", sans-serif;
    color: #f2b803;
    font-size: 2.6em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 15px;
}

.slider .body {
    color: #fff;
    font-size: .8em;

}


.slider .overlay,
#counter .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

/* VOLUNTEERS */
.volunteers {
    /* max-height: 50vh; */
    min-height: 30vh;
    display: inline-block;
    max-width: 100%;
    width: 250px;
    padding: 1rem 2rem 0rem 1rem;
    background-color: rgba(105, 216, 79, .4);
    position: absolute;
    bottom: 12px;
    right: 1%;
    /* opacity: .5; */
    /* border-radius: 0 0 0px 20px; */
    /* float: right; */
}

.volunteers .title h5 {
    font-size: 2rem;
    text-transform: capitalize
}

#volunteers .title {
    max-width: 100%;
}

.volunteers .title span {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 700;
}

.volunteers .title strong {
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
}

/* ABOUT */
#about {
    padding: 3em 0px;
    max-width: 100%;
    max-height: 50%;
    text-align: center;
    color: #000;
}

#about .title {

    max-width: 60%;
    margin: auto;
    /* padding-top: 6em; */
}

#about h3 {
    color: #69d84f;
    font-size: 2em;
    text-align: center;
}

/* COUNTER */

#counter {
    overflow: hidden;
    position: relative;
    background-size: cover;
    min-height: 30vh;
    max-height: 100%;
    background: url('../images/banner_4.jpg') no-repeat center;
    color: #fff;
    display: flex;


}

.stats {
    display: flex;
    flex-direction: 1fr 1fr 1fr;

    /* align-content: ; */
    justify-content: space-evenly;
    
}

.stay_updated{
    font-family: "Chewy",Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color:#ff671f
}

.newsletter h3{

    /* color: #fff; */
    font-size: 16px;
    line-height: 2em;
    letter-spacing: .2px

}


.stat{
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    align-items: center;
    text-align: center;
}
.stat-wrapper{
    margin-bottom: 5px;
    font-family: Chewy, sans-serif;
    color:#ff671f;
    padding: 5em;
    font-size: 1.3rem;
}

.stat-wrapper h2{
    font-size: 5rem;
}

.stat-wrapper h2.text-center{
    font-size: 5rem;
}

.stat-wrapper p {
    color:#333f48;
    font-family: Nunito, sans-serif;
}

/* DONATION */
#donation {
    max-width: 100%;
    margin: 5px;
}

#donation .quote {
    border-radius: 20%;
    background: #f7f7f7;
    padding: 2em;
    font-size: 2rem;
    text-align: center;

    position: relative;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 10% 100%, 20% 75%, 0% 75%); */
    /* height: 90% */
}

#donation .quote::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 15%;
    height: 0;
    border: 1.906em solid transparent;
    border-top-color: #f7f7f7;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.953em;
    margin-bottom: -1.906em;
}

#donation .quote button {
    border: 0;
    padding: .7rem 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

#donation .yellow-cover {
    background-color: #FFFF33;
    /* text-align: center; */
}

#donation img {
    max-width: 100%;
    max-height: 50%;
}

#donation .line {
    margin-left: 5px;
    max-width: 5%;
    border-bottom: 5px solid midnightblue
}

#donation h5 {
    font-size: 2rem;
    font-weight: bold;
    color: midnightblue
}

#donation h6 {
    font-size: 1.5rem;
    font-weight: 700;
    color: midnightblue
}

#donation .yellow-cover p {
    display: inline;
    font-size: 1rem;
}

#donation .btn-wrap {
    max-width: 30%;
    margin: 5px auto;

}

#donation .btn-wrap .see-more-btn {
    border-radius: 0px !important;
    border: 0;
    background: midnightblue !important;
}

/* PROGRAMS */

#programs img {
    max-width: 100%;
}

#programs h3 {
    font-size: 3rem;
}

#programs .project-box {
    margin-bottom: 3rem;
    background: #f7f7f7;
}

.program-img {
    display: block;
    overflow: hidden;
}

#programs .line {
    margin: 0 auto;
    max-width: 5%;
    border-bottom: 5px solid blue
}

#programs .content {
    padding: 1em;
}

#programs .content h2 {
    /* font-size: 1rem; */
    font-weight: bold;
}

#programs .content a {
    /* font-size: 1rem; */
    color: #000;
}

/* BLOG */

#blog .article {
    display: flex;
    flex-direction: row
}

#blog .article>div {
    margin-top: 1rem;
    margin-left: 1rem;
}

#blog .article .article-img {
    width: 10rem;
    max-height: 15rem;
}

#blog .recent .article-img {
    max-width: 65px !important;
    max-height: 65px !important;
    /* order: 2; */
}

#blog .recent p {
    font-size: 14px !important;
    line-height: 26px;
}

#blog .recent p a {
    color: #000 !important;
}

#blog .recent span {
    font-size: 13px !important;
    line-height: 14px;
    color: rgb(0, 0, 0);
}



#blog .article .article-content a {
    flex: auto;
    /* font-size: normal; */
    /* font-family: Chewy, sans-serif; */
    color: #333f48;
    font-size: 16px !important; 
    /* color: #6e6e70 !important; */
}

.newsletter {
    background: #f7f7f7;
    padding: 3rem;
    margin: 2rem 0px;
    text-align: center;
}

#blog .btn-wrap button {
    border-radius: 0;
    padding: .7rem 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}



/* MEMBERSHIP */
#membership .img-wrapper {
    height: 50%;
    width: 50%;
    margin-bottom: .7em;
}

#membership h2 {
    font-family: Chewy, sans-serif;
    color:#ff671f;
}


.my-card {
    background: #ffffff;
    border: 0;
    max-width: 100%;

    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0 0.1rem .2rem rgba(0, 0, 0, 0.1) !important

}


#membership .btn {
    border-radius: 0;
    padding: .7rem 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}



/*=-footer-=*/
footer {
    color: #000;
    /* background-attachment: fixed; */
    background-color: #fff;
    /* background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png); */
    /* background-size: cover;
    background-position: bottom; */
}

footer p {
    color: #000;
}

footer a {
    color: #000;
}

.social-pet li {
    display: inline-block;
    margin-right: 10px;
}

.social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #000;
}

.social-pet li:nth-child(2) a {
    background-color: #57aced;
}

.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}

.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}

.social-pet li a:hover {
    background-color: #0141a2;
}

.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.recent-post{
    /* font-size: 100%; */
    padding: 0;
    list-style: none;
}

.social-row{
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 13px;
}


.social-row a {
    width: 32px;
    height: 32px;
    background: rgba(238, 49, 35, 0.05);
    margin: 0 6px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color:red;
}

#contact h5{
    font-size: 11px;
    text-transform: Uppercase;
    letter-spacing: 2px;
    color: #707070!important;
    margin-bottom: 30px;
}

#contact p{
    font-size: 12px;
    margin-bottom: 0px;
    letter-spacing: 0.2px;
    color: #707070;
}

#contact p span{
    color: #ee3123;
}

.recent-post li{
    font-size: 1.2rem !important;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #707070!important;
    letter-spacing: 0.2px;
}

.copyright{
    font-size: 11px;
    color: #707070!important;
    letter-spacing: 0.2px;
    margin-left: 15px;

}

.copyright a{
    color: #707070!important;
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    /* [class*="col-"] {
        width: 100%;
    } */

    .volunteers {
        padding: 1rem 2rem 0rem 1rem;
        background-color: rgba(105, 216, 79, .4);
        max-height: none;
        min-height: none;
        width: 100%;
        position: relative;
        bottom: 0;
        right: 0%;
        float: none;
    }
}

/* #forms{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
} */

.shadow{
    transition: box-shadow .3s !important;
}
#programs .shadow:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important; 
}

.form-control {
    /* margin: 10px; */
    font-size: 13px !important;
    padding: 1.7rem 1.8rem !important;
    border: 1px solid;
    height: 50px;
    /* border-radius: 5px !important; */
    line-height: 1.2 !important;
    outline: none;
    border-color: rgba(135, 150, 165, 0.15);
}

.form-control:focus, textarea:focus, input:focus, input:active,
.form-control:active {
    border-color: none;
    border: 1px solid orange;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px orange;
    outline: none;

}

.font body {
    font-family: "Nunito", sans-serif !important;
}

.donation_value {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 4px;
    border: 4px solid transparent;
}

.form-control:focus,
.form-control:active {
    border-color: none;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #ff671f;
    outline: none 0;

}

input,
select,
textarea,
button {
    box-shadow: none !important
}

.donation_value:active {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 4px;
    background-color: #fff;
    border: 4px solid #ff671f;
}

.donation_value label {
    text-align: center;
    border: 0;
    min-width: 0;
    width: 100%;
    font-size: 2.6rem;
    padding: 1rem 1rem;
    background-color: #fff;
    line-height: normal;
    color: #ff671f;
}

.donation_value button {
    font-family: "Nunito", sans-serif;
    background: #333f48;
    border: 0;
    font-size: 1.6rem;
    height: 40px;
    color: white;
    padding: .9rem 2rem;
}

.donation_value button:active {
    box-shadow: 0;
    outline: none;
    border:0;
    color: #ff671f;
}